<p>reactive-forms works!</p>

<h2>Reactive Forms</h2>

<form [formGroup]="movieForm" (submit)="handleSubmit()">
    <fieldset>
        <label for="movie-name">Movie Name: </label>
        <input type="text" id="movie-name" formControlName="name">
        @if(name.invalid && name.touched){
            <p class="form-error">Name required</p>
        }
    </fieldset>

    <fieldset>
        <label for="movie-duration">Movie Duration: </label>
        <input type="text" id="movie-duration" formControlName="duration">
        @if(duration.hasError("required") && duration.touched){
            <p class="form-error">Duration required</p>
        } 
        @else if(duration.hasError("max") && duration.touched) {
            <p class="form-error">Movie cannont be longer than 300</p>
        }
    </fieldset>
    
    <fieldset>
        <label for="movie-director">Movie Director: </label>
        <input type="text" id="movie-director" formControlName="direction">
    </fieldset>

    <button [disabled]="movieForm.invalid">Create Movie</button>
</form>