.header {
    background-color: aquamarine;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    padding: 10px;
}

.nav-bar {
    display: flex;
    align-items: center;
}

.nav-bar ul {
    display: flex;
    gap: 40px;
}

.nav-bar > * {
    list-style: none;
}